:host {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.14rem;
}

.device-name,
.remain-time {
  margin-inline: 0.5rem;
}

p-progress-bar {
  flex: 1;
  height: 100%;
}

p-button {
  z-index: 2;
}
